OD cost matrix/ODcostmatrix.xlsx
OD cost matrix/TAZ_origin.csv
Papers/chen et al 2016 Efficient Geo-Computational Algorithms for Constructing Space-Time Prisms in Road Networks.pdf
Papers/Determinants of route choice behavior A comparison of shop versus work trips using the Potential Path Area - Gateway (PPAG) algorithm and Path-Size Logit.pdf
Papers/Lee and Miller 2019 Analyzing collective accessibility using average space-time prisms.pdf
Papers/Lee et al 2002 Measuring Physical Accessibility with Space-Time Prisms in a GIS- A Case Study of Access to Health-Care Facilities.pdf
Papers/Miller 1991 Modelling accessibility using space time prism concepts within geographical information systems.pdf
Papers/Miller 2014 Time-geography-and-space-time-prism.pdf
Papers/Song and Miller 2017 Green accessibility- Estimating the environmental costs of network-time prisms for sustainable transportation planning.pdf
Papers/Keun park sent papers/Kim-Kwan2003_Space-timeAccessibilityMeasure.pdf
