Data/
MyPwoDSTPProject/
MM_NetworkDataset_03092022/
.history/
MM_NetworkDataset_03092022.gdb/
ServiceArea_Tbig_Tsm/
PPA/
PPA_join/
STP/
POI_Utah/
POI_after_Ser_hr/
FOS_Count/
Person_daily_FOS_Count/
MBG/
FOS_Count1/

# IDE Configuration files/directories
.vscode
.idea
.gdb

*.zip
.ipynb_checkpoints
*.csv
*.svg
*.png
*.swp
*.xlsx
*.xml
*.pdf
*.txt
*.prj
*.docx
*.aprx
*.atbx
*.pyc
*.bak
*.xml

# LaTeX side-effect files
*.aux
*.log
*.out


